<section class="about-section" id="about">

  <!-- TITLE -->

  <h2 class="section-title" data-aos="fade-up">About Me</h2>

  <div class="about-container" data-aos="fade-up">

    <div class="about-image">

      <div class="image-card" data-aos="fade-right">
        <img src="assets/profile.png" alt="profile"/>

      </div>

    </div>


    <div class="about-content" data-aos="fade-left">

      <h3>
        ML Engineer & 
        <span> Frappe Backend Developer</span>
      </h3>

      <p>
        I’m Shah Faisal Khan, a Computer Science graduate
        passionate about building scalable backend systems,
        intelligent machine learning applications,
        and modern data-driven solutions.
      </p>

      <p>
        I have hands-on experience with
        Frappe/ERPNext development,
        REST API integrations,
        Python,
        SQL,
        Power BI,
        and Machine Learning.
      </p>

      <p>
        Currently working as a Developer Trainee,
        I enjoy solving real-world business problems
        through automation, analytics, and software development.
      </p>

      <!-- STATS -->

      <div class="stats-grid" data-aos="fade-up">

        <div class="stat-card">
          <h4>6 Months</h4>
          <span>Experience</span>
        </div>

        <div class="stat-card">
          <h4>10+</h4>
          <span>Projects Completed</span>
        </div>

        <div class="stat-card">
          <h4>5+</h4>
          <span>Technologies</span>
        </div>

        <div class="stat-card">
          <h4>100%</h4>
          <span>Passion for Learning</span>
        </div>

      </div>

    </div>

  </div>

</section>