<div class="footer">
    <div class="footer-container">

        <div class="footer-brand">
            <h2>Shah Faisal Khan</h2>
            <p>Data Analyst • ML Enthusiast • Backend Developer</p>
        </div>

        <div class="footer-links">
            <a routerLink="/" fragment="hero">Home</a>
            <a routerLink="/" fragment="about">About</a>
            <a routerLink="/" fragment="experience">Experience</a>
            <a routerLink="/" fragment="skills">Skills</a>
            <a routerLink="/" fragment="projects">Projects</a>
            <a routerLink="/" fragment="contact">Contact</a>
        </div>

        <div class="footer-social">
            <a href="https://github.com/shahfaisal3102">
                <i class="pi pi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/shah-faisal-khan-882965235">
                <i class="pi pi-linkedin"></i>
            </a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 Shah Faisal Khan.
            All Rights Reserved.
        </p>
    </div>
</div>