.footer {
  background: #020617;
  padding: 35px 4% 17px;
  border-top: 1px solid rgba(255,255,255,0.08);
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-brand h2 {
  font-size: 22px;
  margin-bottom: 8px;
  color: white;
}

.footer-brand p {
  color: #94a3b8;
  font-size: 12px;
}


.footer-links {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer-links a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s ease;
  position: relative;
}

.footer-links a:hover {
  color: white;
}

/* UNDERLINE EFFECT */

.footer-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  transition: 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}


.footer-socials {
  display: flex;
  gap: 12px;
}

.footer-socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  background: #3b82f6;
  transform: translateY(-5px);
}

/* BOTTOM */

.footer-bottom {
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.08);
  text-align: center;
}

.footer-bottom p {
  color: #94a3b8;
  font-size: 13px;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-socials {
    justify-content: center;
  }
}

@media (max-width: 576px) {

  .footer {
    padding: 60px 6% 25px;
  }

  .footer-brand h2 {
    font-size: 26px;
  }

  .footer-links {
    gap: 18px;
  }
}