<nav class="navbar">

  <div class="logo">
    Faisal
  </div>


  <ul class="nav-links" [class.active]="menuOpen">

    <li><a routerLink="/" fragment="home">Home</a></li>
    <li><a routerLink="/" fragment="about">About</a></li>
    <li><a routerLink="/" fragment="experience">Experience</a></li>
    <li><a routerLink="/" fragment="skills">Skills</a></li>
    <li><a routerLink="/" fragment="projects">Projects</a></li>
    <li><a routerLink="/" fragment="contact">Contact</a></li>

  </ul>

  <!-- MENU ICON -->
  <div class="menu-btn" (click)="toggleMenu()">
    <i class="pi" [ngClass]="menuOpen ? 'pi-times' : 'pi-bars'"></i>
  </div>

</nav>