<section class="hero" id="hero">

  <div class="hero-left" data-aos="fade-right">

    <p class="intro">Hello, I'm</p>

    <h1>
      Shah Faisal
      <span>Khan</span>
    </h1>

    <h2>
      I'm a
      <span #typedElement class="typing"></span>
    </h2>

    <p class="description">
      I build modern data-driven applications,
      machine learning solutions, and interactive dashboards.
    </p>

    <div class="hero-buttons">
      <button class="primary-btn" routerLink="/" fragment="projects">
        View Projects
      </button>

      <button class="secondary-btn">
        <a href="assets/Faisal resume.pdf" target="_blank">
          <i class="pi pi-download"></i>
        Download Resume
        </a>
      </button>
    </div>

    <div class="social-links">
      <a href="https://github.com/shahfaisal3102">
        <i class="pi pi-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/shah-faisal-khan-882965235">
        <i class="pi pi-linkedin"></i>
      </a>

      <a href="shahfaisal3102@gmail.com">
        <i class="pi pi-envelope"></i>
      </a>
    </div>

  </div>


  <div class="hero-right" data-aos="fade-left">
    <div class="glow-circle"></div>
    <img src="assets/profile.png" alt="profile" class="profile-image" />

  </div>

</section>