<section class="project-section" id="projects">

    <h2 class="section-title" data-aos="fade-up">Projects</h2>

    <div class="project-wrapper">

        <div class="project-card" data-aos="zoom-in">
            <img src="assets/disease.png" alt="Disease Prediction" />

            <div class="project-content">
                <h3>Disease Prediction Web-App</h3>

                <p>
                    Developed and deployed a highly interactive and reliable Streamlit-based web application using ML
                    model (Logistic Regression, Random Forest) to predict Diabetes, Heart Disease, and Chronic Kidney
                    Disease with accurate and real-time outputs.
                </p>

                <div class="tags">
                    <span>Python</span>
                    <span>Numpy</span>
                    <span>Pandas</span>
                    <span>Sci-kit Learn</span>
                    <span>Streamlit</span>
                </div>
            </div>

        </div>

        <div class="project-card" data-aos="zoom-in">
            <img src="assets/book-Recommendation-system.png" alt="Book Recommendation System" />

            <div class="project-content">
                <h3>Book Recommendation System</h3>

                <p>
                    Implemented a robust, scalable, and intelligent KNN-based recommendation engine using pivot tables
                    and model serialization, deployed a clean, interactive, and user-friendly Streamlit UI for instant
                    similar-book suggestions.
                </p>

                <div class="tags">
                    <span>Python</span>
                    <span>Numpy</span>
                    <span>Pandas</span>
                    <span>Sci-kit Learn</span>
                    <span>Streamlit</span>
                </div>
            </div>

        </div>


        <div class="project-card" data-aos="zoom-in">
            <img src="assets/dashboard.png" alt="Employee Management System" />

            <div class="project-content">
                <h3>Employee Management System - Angular Frontend</h3>

                <p>
                    Built a responsive EMS web application using Angular and PrimeNG with authentication, CRUD
                    operations, routing, and reusable UI components. Designed clean and user-friendly dashboards with
                    form validation and responsive layouts for better user experience.
                </p>

                <div class="tags">
                    <span>Angular</span>
                    <span>PrimeNG</span>
                    <span>JSON Server API</span>
                </div>
            </div>

        </div>
    </div>


</section>