<section class="skills-section" id="skills">

  <h2 class="section-title" data-aos="fade-up">
    Skills & Technologies
  </h2>

  <div class="skills-grid" data-aos="fade-up">
    <div class="skill-card" data-aos="fade-up">
      <i class="pi pi-code"></i>
      <h3>Python</h3>

      <p>
        Data Analysis, Automation,
        Machine Learning
      </p>

    </div>

    <div class="skill-card" data-aos="fade-up">
      <i class="pi pi-database"></i>
      <h3>SQL</h3>

      <p>
        Advanced Queries,
        Data Validation,
        Database Operations
      </p>

    </div>

    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-chart-bar"></i>
      <h3>Power BI</h3>

      <p>
        Dashboards,
        DAX,
        Data Visualization
      </p>

    </div>

    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-microchip-ai"></i>
      <h3>Machine Learning</h3>
      <p>
        Model Building,
        Prediction Systems,
        Evaluation
      </p>

    </div>

    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-cog"></i>

      <h3>Frappe / ERPNext</h3>

      <p>
        Backend Development,
        APIs,
        Workflow Automation
      </p>

    </div>


    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-globe"></i>

      <h3>Streamlit</h3>

      <p>
        Interactive ML Apps,
        Web Deployment
      </p>

    </div>


    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-chart-line"></i>

      <h3>Pandas & NumPy</h3>

      <p>
        Data Cleaning,
        EDA,
        Data Manipulation
      </p>

    </div>

    <!-- ANGULAR -->

    <div class="skill-card" data-aos="fade-up">

      <i class="pi pi-desktop"></i>

      <h3>Angular</h3>

      <p>
        Responsive Frontend,
        UI Development,
        Components
      </p>

    </div>

  </div>

</section>