<section class="experience-section" id="experience">

  <h2 class="section-title" data-aos="fade-up">
    Experience
  </h2>

  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="experience-card" data-aos="fade-right">
        <span class="date">Jan 2026 - Present</span>
        <h3>Developer</h3>
        <h4>Leapsys Software and Consulting Pvt. Ltd.</h4>
        <p>
          Developed and customized Frappe/ERPNext modules,
          built REST API integrations, automated invoice workflows,
          and optimized backend ERP processes using Python.
        </p>

      </div>

    </div>

    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="experience-card" data-aos="fade-left">
        <span class="date">Sep 2025 - Jan 2026</span>
        <h3>AI Data Quality Analyst Trainee</h3>
        <h4>Orbiqe Technology</h4>
        <p>
          Performed AI dataset validation,
          advanced SQL querying,
          and Python-based data analysis
          using Pandas and Matplotlib.
        </p>

      </div>

    </div>

    <div class="timeline-item">

      <div class="timeline-dot"></div>

      <div class="experience-card" data-aos="fade-right">

        <span class="date">Feb 2025 - May 2025</span>
        <h3>Data Analytics Intern</h3>
        <h4>Infotact Solutions (Devsindia)</h4>

        <p>
          Conducted data preprocessing,
          exploratory data analysis,
          and machine learning modeling
          for business-focused insights.
        </p>

      </div>

    </div>

  </div>

</section>